<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs') %>
    <title>Projects Edit</title>
</head>
<body>
    <%- include('./partials/header.ejs') %>
    <h1>EDIT PROJECT</h1>
<div class="container">
    <form action="/projects/<%=projects._id%>?_method=PUT" method="POST">
        <div class="mb-3">
            <label for="formFile" class="form-label">Project's Name:</label>
            <input class="form-control" type="text" name="name" value="<%=projects.name%>" placeholder="Project's Name">
        </div>
        <div class="mb-3">
            <label for="formFile" class="form-label">Project's Location:</label>
            <input class="form-control" type="text" name="location" value="<%=projects.locations%>">
        </div>         
        <div class="mb-3">
            <label for="formFile" class="form-label">Project's Date:</label>
            <input class="form-control" type="number" name="date" value="<%=projects.date%>">
        </div>        
        <div class="mb-3">
            <label for="formFile" class="form-label">Project's Typology:</label>
            <input class="form-control" type="text" name="typology" value="<%=projects.typology%>">
        </div>        
        <div class="mb-3">
            <label for="formFile" class="form-label">Description:</label>
            <input class="form-control" type="text" name="descriptin" value="<%=projects.description%>">
        </div>
        <input class="btn btn-outline-warning" type="submit" value="Save Changes">
    </form>
    </div>
</body>
</html>